:root {
  --background-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --links-color: #4d5ae5;
  --hover-color: #404bbf;
  --text-color: #434455;
  --hero-color: #2e2f42;
  --font-weight-h: 500;
  --font-weight-p: 400;
  --font-size-h: 20px;
  --font-size-p: 16px;
  --line-height-h: 1.2;
  --line-height-p: 1.5;
  --letter-spacing-h: 0.04em;
  --letter-spacing-p: 0.02em;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #e5e5e5;
  color: var(--hero-color);
}

.container {
  background: #ffffff;
}

/* header */

.logo-top {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
}

.web-top {
  color: var(--links-color);
}

.studio-top {
  color: var(--hero-color);
}

.nav-list,
.address-list,
.featurs-list,
.samples-list,
.team-list,
.filters-list,
.projects-list {
  list-style-type: none;
}

.nav-text {
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--hero-color);
  text-decoration: none;
}

.address-text {
  font-style: normal;
  font-weight: var(--font-weight-p);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--text-color);
  text-decoration: none;
}

.nav-text:hover,
.nav-text:focus,
.address-text:hover,
.address-text:focus {
  color: var(--hover-color);
}

/* hero */

.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: var(--hero-color);
  color: #ffffff;
}

.hero-button {
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  align-items: center;
  letter-spacing: var(--letter-spacing-h);
  background: var(--links-color);
  color: #ffffff;
  cursor: pointer;
}

.hero-button:active {
  background: var(--hover-color);
}

/* feature */

.featurs h3 {
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-h);
  line-height: var(--line-height-h);
  letter-spacing: var(--letter-spacing-p);
  color: var(--hero-color);
}

.featurs p {
  font-weight: var(--font-weight-p);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--text-color);
}

/* samples */

.samples h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color);
}

/* team */

.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-color);
}

.team-list {
  background-color: var(--background-color);
}

.team-list li {
  width: 264px;
  background: #ffffff;
}

.team-list h3 {
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-h);
  line-height: var(--line-height-h);
  text-align: center;
  letter-spacing: var(--letter-spacing-p);
  color: var(--hero-color);
}

.team-list h4 {
  font-weight: var(--font-weight-p);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  text-align: center;
  letter-spacing: var(--letter-spacing-p);
  color: var(--text-color);
}

/* footer */

footer {
  background-color: var(--hero-color);
}

.logo-bot {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
}

.web-bot {
  color: var(--links-color);
}

.studio-bot {
  color: var(--background-color);
}

footer p {
  font-weight: var(--font-weight-p);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--accent-color);
}

/* Portfolio */

.filters-list button {
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  text-align: center;
  letter-spacing: var(--letter-spacing-h);
  color: var(--links-color);
  background: var(--background-color);
  cursor: pointer;
}

.filters-list button:active {
  color: #ffffff;
  background-color: var(--hover-color);
}

.projects-list h3 {
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-h);
  line-height: var(--line-height-h);
  letter-spacing: var(--letter-spacing-p);
  color: var(--hero-color);
}

.projects-list h4 {
  font-weight: var(--font-weight-p);
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: var(--text-color);
}
